# Emacs temp files
*~
\#.*\#

# OSX folder attributes
.DS_Store
*.bak

# Local config files
*.local.el

# Auto-save files that emacs creates
auto-save-list/*

# Files used by Projectile
projectile-bookmarks.eld
projectile.cache
