[submodule "modes/org-mode"]
	path = modes/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "org2blog"]
	path = org2blog
	url = git://github.com/punchagan/org2blog.git
[submodule "yasnippet"]
	path = yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "modes/django-mode"]
	path = modes/django-mode
	url = https://github.com/myfreeweb/django-mode.git
